html{
    scroll-behavior: smooth;
}
a:hover{
    color: greenyellow;
}

body {
    background-color: rgb(158, 131, 233);
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0 auto;
}

#primeira-sessao{
    background-color: rgb(149, 150, 255);
}
#segunda-sessao{
    background-color: rgb(156, 255, 255);
}
#terceira-sessao{
    background-color: blanchedalmond;
}
#quarta_sessao{
    background-color: blueviolet;
}
header {
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(127, 236, 169);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.main{
    flex-direction: column;
    padding: 15px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imgbody{
    width: 500px;
    height: 500px;
}

li{
    display: inline;
    margin: 20px;
}

.imgtopo {
    width: 200px;
    height: 60px;
}

.imgfundo {
    width: 500px;
    height:500px;
}
@media (max-width:700px) {
    .container{
    flex-direction: column;
    }
    .imgbody{
        width: 250px;
        height: 250px;
    }
    .imgtopo{
        display: none;
    }
}